spring:
  application:
    name: customer-service

  datasource:
    url: jdbc:mysql://localhost:3306/customer_service_db
    username: root
    password: Indeshwar

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
